# Задание 2

In [9]:
import numpy as np
import pandas as pd

from sklearn.datasets import load_boston
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

In [2]:
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [3]:
boston = load_boston()

boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [4]:
data = boston["data"]

data.shape

(506, 13)

In [5]:
feature_names = boston["feature_names"]

feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [6]:
target = boston["target"]

target[:10]

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9])

In [7]:
X = pd.DataFrame(data, columns=feature_names)

X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [8]:
y = pd.DataFrame(target, columns=["price"])

y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   price   506 non-null    float64
dtypes: float64(1)
memory usage: 4.1 KB

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [11]:
model.fit(X_train, y_train.values[:, 0])

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=12, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=1000, n_jobs=None, oob_score=False,
                      random_state=42, verbose=0, warm_start=False)

In [12]:
y_pred = model.predict(X_test)

y_pred.shape

(167,)

In [13]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": y_pred.flatten(),
})

check_test.head(10)

     y_test     y_pred
173    23.6  22.636876
274    32.4  31.360106
491    13.6  16.659908
72     22.8  23.679395
452    16.1  17.068671
76     20.0  21.594863
316    17.8  19.990192
140    14.0  14.847195
471    19.6  21.315605
500    16.8  21.186620

In [14]:
check_test["error"] = check_test["y_pred"] - check_test["y_test"]

check_test.head()

     y_test     y_pred     error
173    23.6  22.636876 -0.963124
274    32.4  31.360106 -1.039894
491    13.6  16.659908  3.059908
72     22.8  23.679395  0.879395
452    16.1  17.068671  0.968671

In [15]:
r2_score(y_test, y_pred)

0.8668846861181482

In [ ]:
#ВЫВОД: Модель, созданная c помощью RandomForestRegressor работает лучше, чем модель, созданная с помощью LinearRegression,
# т.к. показатель r2 во втором случые ближе к единице, чем в первой модели.

# Задание 3

In [16]:
?RandomForestRegressor

In [17]:
print(model.feature_importances_)

[0.03396895 0.00314105 0.00626996 0.00133789 0.01189693 0.35801278
 0.01476964 0.05994205 0.004543   0.01247413 0.01902944 0.01174753
 0.46286667]

In [18]:
model.feature_importances_.sum()

1.0

In [29]:
max_value_idx1 = model.feature_importances_.argmax()
max_value_idx1

12

In [30]:
max_value_idx2 = 0
max_value = model.feature_importances_[max_value_idx2]
for i in range(model.n_features_):
    if max_value < model.feature_importances_[i] and i != max_value_idx1:
         max_value = model.feature_importances_[i]
         max_value_idx2 = i
print(max_value_idx2)

5

In [ ]:
# ВЫВОД: Наибольшую важность показывают признаки: 5-RM (количество комнат) и 12- LSTAT (доля населения с более низким статусом)